<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="header accent p-24 h-56" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div class="h1 mt-2">
              <mat-icon matSuffix class="disabled-text">edit</mat-icon>
              Orders
          </div>
      </div>
  </div>
  
  <div class="content p-24" id="content" #content>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
  
     <form class="mat-card mat-elevation-z8 p-24 mr-24" (keydown.enter)="$event.preventDefault()"
      fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" #customersform="ngForm"
      [formGroup]="Ordersform" (ngSubmit)="save()">
  
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
  
            <mat-form-field fxFlex class="pr-4" appearance="fill">
                <mat-label>Quality :</mat-label>
                <input matInput formControlName="FirstName" type="text" required>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
            </mat-form-field>
  
            <mat-form-field fxFlex class="pr-4" appearance="fill">
                <mat-label>quantity :</mat-label>
                <input matInput formControlName="LastName" type="number" required>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex class="pr-4" appearance="fill">
                <mat-label>Order Date :</mat-label>
                <input matInput formControlName="OrderDate" type="datetime" required>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
            </mat-form-field>
  
          
  
  
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
  
            <mat-form-field fxFlex class="pr-4" appearance="fill">
                <mat-label>email :</mat-label>
                <input matInput formControlName="email" type="text" required>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex class="pr-4" appearance="fill">
                <mat-label>Address :</mat-label>
                <input matInput formControlName="Address" type="text" required>
                <mat-icon matSuffix class="secondary-text">edit</mat-icon>
            </mat-form-field>

          </div>
            <div fxLayout="row" style="margin-top: 30px;" fxLayoutAlign="end right" fxFlex="1 0 auto">
  
                <a mat-raised-button color="primary" class="search-button mr-8" style="width: 120px;"
                 [routerLink]="['/app/pages/Orders/orders-list']">
                 Back
                </a>
  
                 <button mat-raised-button *ngIf="btnshow" class="mat-accent ml-16"
                 [disabled]="!ordersform.form.valid">
                 Submit
                 </button>
                 <button mat-raised-button *ngIf="!btnshow" class="mat-accent ml-16"
                  [disabled]="!ordersform.form.valid">
                 Update Changes
                 </button>
             </div>
  
         
       </form>
   </div>
   </div>
  